<h2>Subscribe!</h2>
<form method="post">
    {% csrf_token %}

    <label>Imię</label>
    <input type="text" id="f_name" name="firstname" placeholder="Wpisz swoje imię" required><br>
    <label>Nazwisko</label>
    <input type="text" id="l_name" name="lastname" placeholder="Wpisz swoje nazwisko" required><br>
    <label>E-mail</label>
    <input type="email" id="email" name="email" placeholder="Wpisz swoj adres email" required><br>
    <input type="submit" value="Wyślij">
    {% if error_email %}
        <p style="color:red">{{error_email}}</p>
    {% endif %}

</form>